<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="./sigespai-convocatorias-modalidades-componentes-detalles.html">

<dom-module id="sigespai-convocatorias-modalidades-componentes-listado">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
            }

            .contenedor {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
            }
        </style>
        <iron-ajax auto url="[[url]]" handle-as="json" last-response="{{componentesData}}">
        </iron-ajax>

        <div style="clear:both;"></div>
        <section>
            <div class="panel panel-default">
                <div class="panel-heading text-center text-dark">
                    Componentes
                </div>
                <div class="panel-body">
                    <template is="dom-if" if="[[_hasComponentesData(componentesData)]]">
                        <ul class="list-group contenedor">
                            <template is="dom-repeat" items="[[componentesData]]" as="item">
                                <li class="list-group-item">
                                    <sigespai-convocatorias-modalidades-componentes-detalles id-componente="[[item]]">
                                        <sigespai-convocatorias-modalidades-componentes-detalles>
                                </li>
                            </template>
                        </ul>
                    </template>
                    <template is="dom-if" if="[[!_hasComponentesData(componentesData)]]">
                        <div class="text-center">
                            <span class="alert-info">No hay infomación disponible</span>
                        </div>
                    </template>
                </div>
            </div>
        </section>
    </template>

    <script>
        class SigespaiConvocatoriasModalidadesComponentesListado extends Polymer.Element {
            static get is() { return 'sigespai-convocatorias-modalidades-componentes-listado'; }
            static get properties() {
                return {
                    idModalidad: {
                        type: Number,
                        value: 0
                    },
                    url: {
                        type: String,
                        computed: '_getURL(idModalidad)'
                    },
                    componentesData: {
                        type: Array,
                        notify: true
                    },
                };
            }
            _getURL(idModalidad) {
                let url = App.Config.apppath + "/Convocatorias/IdComponentesBy?id_modalidad=" + idModalidad;
                return url;
                // return 'https://intranet1.ugto.mx/Sigespai/Consultas/findDatosProfesorByNUE/' + nue;
            }
            _hasComponentesData(componentes) {
                if (componentes.length > 0) {
                    return true;
                }
                return false;
            }
        }

        window.customElements.define(SigespaiConvocatoriasModalidadesComponentesListado.is, SigespaiConvocatoriasModalidadesComponentesListado);
    </script>
</dom-module>