<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="./sigespai-convocatorias-modalidades-componentes-listado.html">


<dom-module id="sigespai-convocatorias-modalidades-detalles">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
            }

            ._header_select {
                padding: 10px;
                background-color: #80D8FF;
                color: black;
            }

            ._float_right {
                float: right;
            }
        </style>

        <iron-ajax auto url="[[url]]" handle-as="json" last-response="{{modalidadesData}}">
        </iron-ajax>

        <div style="clear:both;"></div>
        <section>
            <div class="card border-primary">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-calendar" aria-hidden="true"></span> Modalidades
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Detalles</h5>
                    <p class="card-text">
                        <template is="dom-if" if="[[_hasModalidadesData(modalidadesData)]]">
                            <template is="dom-repeat" items="[[modalidadesData.rows]]" as="item">
                                <div class="_header_select" data-index$="[[index]]" on-click="_toggleCollapse">
                                    <span>
                                        [[item.descr]]
                                    </span>
                                    <span class=" _float_right ">
                                        <small> Monto máximo: </small>
                                        <b> $ [[item.monto]] </b>
                                    </span>
                                    <div style="clear:both; "></div>
                                </div>
                                <iron-collapse id$="collapse_cm_[[index]]" opened="{{item.opened}}">
                                    <sigespai-convocatorias-modalidades-componentes-listado id-modalidad="[[item.id_modalidad]] "></sigespai-convocatorias-modalidades-componentes-listado>
                                </iron-collapse>
                            </template>
                        </template>
                        <template is="dom-if " if="[[!_hasModalidadesData(modalidadesData)]] ">
                            <div class="text-center ">
                                <span class="alert-info ">No hay infomación disponible</span>
                            </div>
                        </template>
                    </p>
                </div>
            </div>
        </section>
    </template>

    <script>
        class SigespaiConvocatoriasModalidadesDetalles extends Polymer.Element {
            static get is() { return 'sigespai-convocatorias-modalidades-detalles'; }
            static get properties() {
                return {
                    idConvocatoria: {
                        type: Number,
                        value: 0
                    },
                    url: {
                        type: String,
                        computed: '_getURL(idConvocatoria)'
                    },
                    modalidadesData: {
                        type: Object,
                        notify: true
                    }
                };
            }

            _getURL(idConvocatoria) {
                let url = App.Config.apppath + "/Convocatorias/DataModalidadesByConvocatoria?id_convocatoria=" + idConvocatoria;
                return url;
                // return 'https://intranet1.ugto.mx/Sigespai/Consultas/findDatosProfesorByNUE/' + nue;
            }
            _hasModalidadesData(modalidades) {
                if (modalidades) {
                    // console.log('modalidades => ', modalidades);
                    return true;
                }
                return false;
            }
            _toggleCollapse(e) {
                var collapseElem = this.shadowRoot.querySelector('#collapse_cm_' + e.currentTarget.dataset.index);
                if (collapseElem) {
                    collapseElem.toggle();
                }
            }
        }

        window.customElements.define(SigespaiConvocatoriasModalidadesDetalles.is, SigespaiConvocatoriasModalidadesDetalles);
    </script>
</dom-module>