<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="sigespai-convocatorias-modalidades-componentes-detalles">
    <template>
        <style include="bootstrap4-styles fontawesome-styles">
            :host {
                display: block;
            }

            ._float_right {
                float: right;
            }
        </style>

        <iron-ajax id="id_ajax" auto url="[[url]]" handle-as="json" last-response="{{componenteData}}" loading="[[loading]]">
        </iron-ajax>

        <div style="clear:both;"></div>
        <section>
            <h4 class="list-group-item-heading text-center" hidden$="[[!hasComponenteData]]">
                <span id="icono" class="fa fa-lg" aria-hidden="true" style="color: [[componenteData.0.color]]; text-shadow: 2px 2px #ccc;">
                </span> [[componenteData.0.descr]]
            </h4>
            <div class="text-center" hidden$="[[hasComponenteData]]">
                <span class="alert-info">No hay infomación disponible</span>
            </div>
        </section>

    </template>

    <script>
        class SigespaiConvocatoriasModalidadesComponentesDetalles extends Polymer.Element {
            static get is() { return 'sigespai-convocatorias-modalidades-componentes-detalles'; }
            static get properties() {
                return {
                    idComponente: {
                        type: Number,
                        value: 0
                    },
                    url: {
                        type: String,
                        computed: '_getURL(idComponente)'
                    },
                    componenteData: {
                        type: Array,
                        observer: '_componenteDataChanged'
                    },
                    hasComponenteData: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            _componenteDataChanged() {
                if (this.componenteData) {
                    this._setIcono();
                    this.hasComponenteData = true;
                }
            }

            _getURL(idComponente) {
                let url = App.Config.apppath + "/Convocatorias/DataCatComponentes?id_componente=" + idComponente;
                return url;
                // return 'https://intranet1.ugto.mx/Sigespai/Consultas/findDatosProfesorByNUE/' + nue;
            }
            _setIcono() {
                if (this.componenteData[0].icon) {
                    this.$.icono.classList.add(this.componenteData[0].icon);
                }
            }
        }

        window.customElements.define(SigespaiConvocatoriasModalidadesComponentesDetalles.is, SigespaiConvocatoriasModalidadesComponentesDetalles);
    </script>
</dom-module>